# API keys
SANDBOX_CLIENT_ID=your_sandbox_client_id
SANDBOX_CLIENT_SECRET=your_sandbox_client_secret
PRODUCTION_CLIENT_ID=your_production_client_id
PRODUCTION_CLIENT_SECRET=your_production_client_secret

# environment toggle (SANDBOX or PRODUCTION)
EBAY_ENV=PRODUCTION